{% extends 'base.html' %}

{% block title %}一脸紧张{% endblock %}

{% block content %}
                <div class="site-intro-meta">
                    <h1 class="intro-title">记得匿名哦</h1>
{#                    <p class="intro-subtitle">it's better to burn out than to fade away</p>#}
                </div>
            </div>
            <script>
                var browser = {
                    versions: function() {
                        var e = window.navigator.userAgent;
                        return {
                            userAgent: e,
                            trident: -1 < e.indexOf("Trident"),
                            presto: -1 < e.indexOf("Presto"),
                            webKit: -1 < e.indexOf("AppleWebKit"),
                            gecko: -1 < e.indexOf("Gecko") && -1 == e.indexOf("KHTML"),
                            mobile: !!e.match(/AppleWebKit.*Mobile.*/),
                            ios: !!e.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/),
                            android: -1 < e.indexOf("Android") || -1 < e.indexOf("Linux"),
                            iPhone: -1 < e.indexOf("iPhone") || -1 < e.indexOf("Mac"),
                            iPad: -1 < e.indexOf("iPad"),
                            webApp: -1 == e.indexOf("Safari"),
                            weixin: -1 == e.indexOf("MicroMessenger"),
                            uc: -1 < e.indexOf("UCBrowser")
                        }
                    }()
                };
                function fontLoaded() {
                    if (console.log("font loaded"),
                    document.getElementsByClassName("site-intro-meta")) {
                        document.getElementsByClassName("intro-title")[0].classList.add("intro-fade-in"),
                        document.getElementsByClassName("intro-subtitle")[0].classList.add("intro-fade-in");
                        var e = document.getElementsByClassName("post-intros")[0];
                        e && e.classList.add("post-fade-in")
                    }
                }
                function asyncCb() {
                    browser.versions.uc ? (console.log("UCBrowser"),
                    fontLoaded()) : WebFont.load({
                        custom: {
                            families: ["Oswald-Regular"]
                        },
                        loading: function() {},
                        active: function() {
                            fontLoaded()
                        },
                        inactive: function() {
                            console.log("inactive: timeout"),
                            fontLoaded()
                        },
                        timeout: 5e3
                    })
                }
                function asyncErr() {
                    console.warn("script load from CDN failed, will load local script")
                }
                function async(e, n, o) {
                    var t = document
                      , i = "script"
                      , a = t.createElement(i)
                      , s = t.getElementsByTagName(i)[0];
                    a.src = e,
                    n && a.addEventListener("load", function(e) {
                        n(null, e)
                    }, !1),
                    o && a.addEventListener("error", function(e) {
                        o(null, e)
                    }, !1),
                    s.parentNode.insertBefore(a, s)
                }
                console.log("userAgent:" + browser.versions.userAgent);
                var asyncLoadWithFallBack = function(e, n, o) {
                    var t = function() {
                        o(),
                        e.shift(),
                        e.length && async(e[0], n, t)
                    };
                    async(e[0], n, t)
                };
                asyncLoadWithFallBack(["https://cdn.jsdelivr.net/npm/webfontloader@1.6.28/webfontloader.min.js", "https://cdn.bootcss.com/webfont/1.6.28/webfontloader.js", "/static/lib/webfontloader.min.js"], asyncCb, asyncErr)
            </script>
	    {#<img class="loading" src="/static/assets/loading.svg" style="display:block;margin:6rem auto 0 auto;width:6rem;height:6rem">#}
            <div class="container container-unloaded">
                <main class="main index-page">
            {% if article_list %}
                {% for article in article_list %}
                    <article class="index-post">
                        <a class="abstract-title" href="/article/{{ article.id }}/">
                            <span>{{ article.title }}</span>
                        </a>
                        <div class="abstract-content">{{ article.digest }}</div>
                        <div class="abstract-post-meta">
                            <div class="abstract-date">
                                <span class="abstract-calander iconfont-archer">&#xe676;</span>
                                <span class="abstract-time">{{ article.date_time }}</span>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            {% endif %}
{#                    <nav class="page-nav">#}
{#                        <span class="page-number current">1</span>#}
{#                        <a class="page-number" href="/static/page/2/">2</a>#}
{#                        <a class="extend next" rel="next" href="/static/page/2/">NEXT &#62;</a>#}
{#                    </nav>#}
                </main>
{#                <div class="profile">#}
{#                    <img class="profile-avatar" alt="avatar" src="/static/avatar/1.jpg">#}
{#                    <div class="profile-name">IceQboo</div>#}
{#                    <div class="profile-signature">witness me</div>#}
{#                    <div class="profile-social">#}
{#                        <a href="mailto:iceqboo@qq.com" class="iconfont-archer email" title="email"></a>#}
{#                        <a href="//github.com/MyDynasty" class="iconfont-archer github" target="_blank" title="github"></a>#}
{#                        <span class="iconfont-archer wechat" title="wechat">#}
{#                            <img class="profile-qr" src="/static/assets/example_qr.png">#}
{#                        </span>#}
{#                    </div>#}
{#                    <div class="about-me">#}
{#                        <a href="/about">ABOUT ME</a>#}
{#                    </div>#}
{#                </div>#}
            </div>
{% endblock %}
